.translator-home{
    height: 500px;
    width: 700px;
    position: fixed;
    top: 44%;
    left: 41%;
    margin-top: -100px;
    margin-left: -200px;
}
.translator-title{
    padding-bottom: 3rem;
}
.opacity{
    opacity: 0;
}

.translator-response{
    margin-top: 2rem;
   font-size:  30px;
   font-family: 'Caveat', cursive;
}

.translator-heading,h2{
    font-size: 35px;
    padding-top: 2rem;
    font-family: 'Fjalla One', sans-serif;
}